html,
body {
  margin: 0; /* Menghilangkan margin bawaan browser */
  padding: 0; /* Menghilangkan padding bawaan */
  min-height: 100%; /* Memastikan body memiliki minimal tinggi layar */
}

header {
  color: #000000;
  text-align: center; /* Menjadikan teks berada di tengah */
  display: flex; /* Flexbox untuk memastikan konten terpusat */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px; /* Tinggi header agar terlihat lebih rapi */
  margin-bottom: 20px;
}
.container {
  margin-top: 10px;
  padding-bottom: 20px;
}

.container .row.mb-4 {
  margin-bottom: 10px; /* Mengurangi jarak antara search box dan card items */
}

.card {
  margin-top: 0; /* Jika ada jarak bawaan pada card */
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 600;
}

.card-text {
  font-weight: 400;
}

.sizes .badge {
  margin-right: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}
